In [7]:
import pandas as pd
import gmaps
import gmaps.datasets
import csv
import datetime
gmaps.configure(api_key='AIzaSyBrgV2SXvwhOLKNdp77J5RG3pxuH9OITNQ')

In [12]:
weekday_str = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
def get_weekday(year, month, day):
    return weekday_str[datetime.datetime(year, month, day).weekday()]

# 내용

In [4]:
locations = []
path = 'data/clean/'
files = ['2017-q1.csv','2017-q2.csv','2017-q3.csv','2017-q4.csv','2018-q1.csv','2018-q2.csv','2018-q3.csv','2018-q4.csv']
# filename = 'data/clean/2018-q4.csv'

In [14]:
def create_station(data):
    station = {
        'start': 0,
        'end': 0,
        'total': 0,
        'ratio': 0,
        'lat': data['start_lat'],
        'lon': data['start_lon']
    }
    for h in range(24):
        station[f'start_{h}'] = 0
        station[f'end_{h}'] = 0
        station[f'ratio_{h}'] = 0
    for weekday in weekday_str:
        station[f'start_{weekday}'] = 0
        station[f'end_{weekday}'] = 0
        station[f'ratio_{weekday}'] = 0
    return station

In [30]:
stations = {}
bikes = set()

for file in files:
    filename = path + file
    with open(filename, 'r') as file:
        reader = csv.DictReader(file, delimiter=',')
        for data in reader:
            
            sid, eid = data['start_station_id'], data['end_station_id']
            
            if sid not in stations:
                stations[sid] = create_station(data)
            if eid not in stations:
                stations[eid] = create_station(data)
            
            date, time = data['start_time'].split(' ')
            month, day, year = map(int, date.split('/'))
            hour, minute = map(int, time.split(':'))
            
            stations[sid]['start'] += 1
            stations[sid]['total'] += 1
            stations[sid][f'start_{hour}'] += 1
            stations[sid][f'start_{get_weekday(year,month,day)}'] += 1
            
            date, time = data['end_time'].split(' ')
            month, day, year = map(int, date.split('/'))
            hour, minute = map(int, time.split(':'))
            
            stations[eid]['end'] += 1
            stations[eid]['total'] += 1
            stations[eid][f'end_{hour}'] += 1
            stations[eid][f'end_{get_weekday(year,month,day)}'] += 1
        
        for sid in stations:
            stations[sid]['station_id'] = sid
            stations[sid]['ratio'] = (stations[sid]['end'] + 1) / (stations[sid]['total'] + 2)
            for h in range(24):
                stations[sid][f'total_{h}'] = stations[sid][f'end_{h}'] + stations[sid][f'start_{h}'] 
                stations[sid][f'ratio_{h}'] = (stations[sid][f'end_{h}'] + 1) / (stations[sid][f'total_{h}'] + 2)
            for weekday in weekday_str:
                stations[sid][f'total_{weekday}'] = stations[sid][f'end_{weekday}'] + stations[sid][f'start_{weekday}'] 
                stations[sid][f'ratio_{weekday}'] = (stations[sid][f'end_{weekday}'] + 1) / (stations[sid][f'total_{weekday}'] + 2)
        
        df = pd.DataFrame.from_dict(stations, orient='index')
        df.to_csv(filename.replace('.csv', '-station.csv'))

In [6]:

fig = gmaps.figure()
start_station_layer = gmaps.symbol_layer(df.loc[(df['ratio'] < 1.0)][['lat','lon']], fill_color='rgba(0,150,0,0.4)', stroke_color='rgba(0,150,0,0.4)', scale=2)
end_station_layer = gmaps.symbol_layer(df.loc[(df['ratio'] > 1.0)][['lat','lon']], fill_color='rgba(200,0,0,0.4)', stroke_color='rgba(200,0,0,0.4)', scale=2)
# heatmap_layer.gradient = [
#     'white',
#     'silver',
#     'gray'
# ]
# end_station_layer.max_intensity = 1000
fig.add_layer(end_station_layer)
fig.add_layer(start_station_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Get Added / Removed stations

In [31]:
file1 = 'data/clean/2018-q3-station.csv'
file2 = 'data/clean/2018-q4-station.csv'
df1 = pd.read_csv(file1, delimiter=',')
df2 = pd.read_csv(file2, delimiter=',')
stations1 = set(df1['station_id'].astype('int'))
stations2 = set(df2['station_id'].astype('int'))

removed = stations1 - stations2
added = stations2 - stations1

removed = pd.DataFrame(df1[df1['station_id'].isin(removed)])
removed['status'] = 'removed'

added = pd.DataFrame(df2[df2['station_id'].isin(added)])
added['status'] = 'added'

summ = added.append(removed)

summ.to_csv('data/clean/test.csv', index=False)

In [32]:
summ

,Unnamed: 0,start,end,total,ratio,lat,lon,start_0,end_0,ratio_0,...,total_22,total_23,total_Mon,total_Tue,total_Wed,total_Thu,total_Fri,total_Sat,total_Sun,status
135,4266,59,80,139,0.574468,34.045181,-118.250237,0,4,0.833333,...,7,6,23,11,21,9,20,24,31,added
137,4273,171,177,348,0.508571,34.025860,-118.284103,8,3,0.307692,...,16,7,62,22,52,46,40,71,55,added
138,4275,23,22,45,0.489362,34.012520,-118.285896,0,0,0.500000,...,0,0,0,6,2,10,4,7,16,added
139,4276,144,154,298,0.516667,34.047390,-118.218849,0,0,0.500000,...,0,0,0,0,0,0,0,0,298,added